h1 {
    color: #222;
}

.content {
    text-align: center;
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.right {
    float: right;
    margin-right: 100px;
}

.left {
    float: left;
    margin-left: 100px;
}
.image {
    height: 55vh;
    width: 35vw;
}
.link {
    font-size: 2rem;
    color: #222;
    text-decoration: none;
}
.link:hover {
    color: #ff4f5a;
}
@media only screen and (max-width: 991px) {
    .left {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .right {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .image {
        width: 90vw;
        height: 30vh;
    }
    .content {
        display: block;
        justify-content: center;
        margin: auto;
    }
}
