
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    size: 85%;
}

/* html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
} */


body {
    background-color: white;
}
.absolute-center {
    position: absolute;
    top: 24%;
    left: 52%;
    transform: translate(-58%, -50%);
}

.percentage {
    font-size: 2vw;
}
.chart {
    max-width: 70%;
}
.mychart {
    margin-left: 70px;
}

.form-control {
    width: 45%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;
}

.stockform {
    width: 88px;
    height: 100px;
    font-size: 1.5rem;
    margin-left: 75px;
}
.card-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(266px, 0fr));
    margin-top: 3vh;
    margin-left: auto;
}

/* Simple Card styles for prettying */

.card {
    width: 230px;
    box-shadow: 0 1px 5px #555;
    box-sizing: border-box;
    margin-left: 10px;
}

.btn {
    background-color: #222!important;
    margin-right: auto;
}

.top {
    text-align: center;
}
.content {
    margin-top: 50px;
}
img, .p {
    align-items: flex-start;
    font-size: 2rem;
}
h1 {
    margin-left: 50px;
}

img {
    height: 150px;
    margin-top: 40px;
}

.btns {
    margin-left: 450px;
    font-weight: bold;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: initial;
}
.link:hover {
    color: black;
}
.link {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

@media only screen and (max-width: 500px) {
    .btn1 {
        transform: translate(-65%, -55%);
    }
}
