


body {
    background-color: white;
}
.absolute-center {
    position: absolute;
    top: 24%;
    left: 52%;
    transform: translate(-58%,-50%);
}

.percentage {
    font-size: 2vw;
}
.chart {
    max-width: 70%;
}
.mychart {
    margin-left: 70px;
}

.form-control {
    width: 45%;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 10px;

}
form {
    width: 88px;
    height: 100px;
    font-size: 1.5rem;
    margin-left: 75px;
}
.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(266px, 0fr));
    margin-top: 100px;
    margin-left: 145px;

}

/* Simple Card styles for prettying */

.card {
    width: 230px;
    box-shadow: 0px 1px 5px #555;
    box-sizing: border-box;
    margin-left: 10px;
}

.btn1 {
    background-color:#555;
    border: none;
    color: white;

}

.inc {
    float: left;
    width: 30px;
    border-radius: 15%;
}
.dec {
    float: right;
    width: 30px;
    border-radius: 15%;
}

.maj {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    margin-left: 70px;
}

.top {
    text-align: center;
}
.content {
    margin-top: 50px;
}
img, .p {
    align-items:flex-start;
    font-size: 2rem;

}
h1 {
    margin-left: 50px;
}

img {
    height: 150px;
    margin-top: 40px;
}

.btns {
    margin-left: 450px;
    font-weight: bold;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    color: white;
}
a:hover {
    color:initial;
}
.link:hover {
    color:black;
}
.link {
    text-decoration: none;
    color: white;
}
